fieldset{
    margin-top: 5vh;
    min-height: 70vh;
    border-radius: 3vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.icon, .ubs, img{
    object-fit: cover;
    width: 5vh;
    
}

.icon{
    border-radius: 50px;
}

.ubs{
    width: 20vh;
    height: 8vh;
    margin: 0px 10vh 0px 0px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.5);

}