<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body class="bodyGeral">
    <header class="top">
        <img src="../static/img/logo_ubs-01_1422989821-removebg-preview.png" alt="logoUBS" class="ubs">
        <a href="notification.html"><img src="../static/img/notificação.png" alt="notifications" class="icon"></a>
        <a href=""><img src="../static/img/userAccount.png" alt="acount" class="icon"></a>
        <h2 class="menuPrincipal"> <img src="../static/img/agendarconslta.png" alt="">AGENDAR NOVA </br> CONSULTA</h2>
        
    </header>

    <div>
        <fieldset>
            ESCOLHA A DATA E CLIQUE EM PRÓXIMO
                <form>
                    <label for="dataEscolhida">Data:</label>
                    <input type="datetime-local" id="dataEscolhida" name="dataEscolhida">
                    
                   <a href="" class="buttons">CANCELAR</a><a href="" class="buttons">PROXIMO</a>
                </form>
                            </fieldset>
    </div>


</body>
</html>