<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bodyGeral">
    <header class="top">
        <img src="../static/img/logo_ubs-01_1422989821-removebg-preview.png" alt="logoUBS" class="ubs">
        <a href="notification.html"><img src="../static/img/notificação.png" alt="notifications" class="icon"></a>
        <a href=""><img src="../static/img/userAccount.png" alt="acount" class="icon"></a>
    </header>

    <div class="modal">
        <h3>VOCÊ DESEJA?</h3>
        <a href="" class="botao1"><img src="../static/img/agendarconslta.png" alt="">AGENDAR NOVA <br> CONSULTA</a>
        <a href="" class="botao2"><img src="../static/img/icone-horario.png" alt="">REMARCAR CONSULTA</a>
    </div>
    <a href="menu.html" class="cancel">CANCELAR</a>
</body>
</html>