    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/cadastrostyle.css">

    </head>
    <body class="bodycadastro">

            
      <!-- ----------------------------ETAPA 01 CADASTRO---------------------------------------------->  
        <div class="form-step step-1 active">
            <img src="../static/img/logo_ubs-01_1422989821-removebg-preview.png" alt="logoUBS" class="ubs">
        
        
            <fieldset>
                <div>
                    <h2>Cadastrando Usuário</h2>
                </div>
                <h3>Informações Pessoais</h3>
                <form class="formulariocadastro">
                
                    <input type="text" name="name" placeholder="Nome Completo">
                    <input type="date" name="dataNasc" id="" placeholder="Data de Nascimento">
                    <input type="text" name="cpf" placeholder="CPF">
                    <input type="text" name="rg" placeholder="Registro Geral (RG)">
                   
                    <select name="sexo" id="sex">
                        <option value="" selected>SEXO</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outro</option>
                    </select>
                    
                    <input type="tel" name="fone" placeholder="Telefone">

                    <div class="buttons">
                       <a href="index.html">CANCELAR</a>
                       <a href="cadastro2.html">PRÓXIMO</a>
                    </div>
                </form>
            </fieldset>

        </div>

    </body>
    </html>