<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/cadastrostyle.css">
</head>
<body class="bodycadastro">
    <div>
        <img src="../static/img/logo_ubs-01_1422989821-removebg-preview.png" alt="logoUBS" class="ubs">
        <fieldset>
            <div><h2>Cadastrando Usuário</h2></div>
            <h3>Informações Pessoais</h3>
                <form class="formulariocadastro" method="post">
                    <select name="convenio" id="">
                        <option value="" selected disabled>Convenio</option>
                    </select>
                    <input type="tel" name="contact" placeholder="Contato de Emergência" id="contatoEmergencia">
                    <div class="buttons">
                        <a th:href="@{/pacientes/cadastro2}">VOLTAR</a>
                        <button onclick="">CADASTAR</button>
                    </div>
                </form>
        </fieldset>
    </div>
</body>
</html>