<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/cadastrostyle.css">
</head>
<body class="bodycadastro">
    <!-- ----------------------------ETAPA 02 CADASTRO----------------------------------------------> 
    <div>
        <img src="../static/img/logo_ubs-01_1422989821-removebg-preview.png" alt="logoUBS" class="ubs">
        <fieldset>
            
            <div><h2>Cadastrando Usuário </h2></div>
        <h3>Informações Pessoais</h3>
        <form class="formulariocadastro">
            
            <select name="estadoCivil" id="estadoCivil">
                <option value="" disabled selected>Estado Civil</option>
                <option value="SINGLE">SOLTEIRO(A)</option>
                <option value="MARIED">CASADO(A)</option>
                <option value="WIDOWER">VIÚVO(A)</option>
                <option value="DIVORCED">DIVORCIADO(A)</option>

            </select>
            <select name="nascionalidade" id="nas">
                <option value="" selected disabled>Nascionalidade</option>
                <option value=""></option>
            </select>
        
            <input type="text" name="endereco" placeholder="Endereço Completo">
            <input type="text" name="cep" placeholder="CEP">
            <select name="estado" id="">
                <option value="" selected disabled>Estado</option>
            </select>
            <input type="email" name="email" placeholder="Email">

            <div class="buttons">
                <a href="cadastro1.html">VOLTAR</a>
                <a href="cadastro3.html">PRÓXIMO</a>
            </div>
    </form>
</fieldset>
    </div>   
</body>
</html>