<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body class="bodyGeral">
    <header class="top">
        <img src="../static/img/logo_ubs-01_1422989821-removebg-preview.png" alt="logoUBS" class="ubs">
        <a href="notification.html"><img src="../static/img/notificação.png" alt="notifications" class="icon"></a>
        <a href=""><img src="../static/img/userAccount.png" alt="acount" class="icon"></a>
        <h2 class="menuPrincipal"><img src="../static/img/exames.png" alt="">Seus Exames</h2>
    </header>
    <div>
        <fieldset>

        </fieldset>
    </div>
</body>
</html>