<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/style.css">
    <title>Login</title>
</head>
<body id="loginBody">
    <header >
        <img src="../static/img/logo_ubs-01_1422989821-removebg-preview.png" alt="" id="ubsLogo">
    </header>
    <div id="userTable">
    <img src="../static/img/userAccount.png" alt="icon" id="user" >
    </div>
    <form th:action="@{/pacientes/menu}" method="get" >
        <div id="inputs">
        <input type="text" name="login"  placeholder="Insira seu CPF" class="inputIndex" required ><br>
        <input type="password" name="password" placeholder="Insira sua Senha" class="inputIndex" required><br>
        </div>
        <div id="botao"><button type="submit">Entrar</button></div>
    </form>
    <p>Não possui conta?<a th:href="@{/pacientes/cadastro1}" id="cadastrar">Criar conta</a> </p>

</body>
</html>