<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    
</head>
<body class="bodyGeral">
    <header class="top">
        <img src="../static/img/logo_ubs-01_1422989821-removebg-preview.png" alt="logoUBS" class="ubs">
        <a href="notification.html"><img src="../static/img/notificação.png" alt="notifications" class="icon"></a>
        <a href=""><img src="../static/img/userAccount.png" alt="acount" class="icon"></a>
        <h2 class="menuPrincipal">Menu Principal</h2>
    </header>
    

    <div id="menu">
        <div class="boxItem"><a href="agendaOption.html" class="itemMenu"><img src="../static/img/agendarconslta.png" alt="">Agendar Consulta</a><br></div>
        <div class="boxItem"><a href="calendarioConsulta.html" class="itemMenu"><img src="../static/img/calendarioconsulta.png" alt="">Calendário de Consultas</a><br></div>
        <div class="boxItem"><a href="calendarioExames.html" class="itemMenu"><img src="../static/img/exames.png" alt="">Calendários de Exames</a><br></div>
        <div class="boxItem"><a href="medicamento.html" class="itemMenu"><img src="../static/img/medicamento_318-579300.png" alt="">Seus Medicamentos</a><br></div>
        <div class="boxItem"><a href="receitas.html" class="itemMenu"><img src="../static/img/receitas.png" alt="">Lista de Receitas</a><br></div>
        <div class="boxItem"><a href="" class="itemMenu"><img src="../static/img/batepapo.png" alt="">Conversar com Médico</a><br></div>
        <div class="boxItem"><a href="" class="itemMenu"><img src="../static/img/sus.png" alt="">Ligar para SUS</a><br></div>
    </div>

</body>
</html>