<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="../static/style.css">

    <style>
       .icon{
        background-color: rgb(95, 95, 161);
       }
    </style>
</head>

<body class="bodyGeral">
    
    <header class="top">
        <img src="../static/img/logo_ubs-01_1422989821-removebg-preview.png" alt="logoUBS" class="ubs">
        <a href=""><img src="../static/img/notificação.png" alt="notifications" class="icon"></a>
        <a href=""><img src="../static/img/userAccount.png" alt="acount"></a>
        <h2 class="menuPrincipal">Notificações</h2>
    </header>
    <div>
        <fieldset>

        </fieldset>
    </div>
</body>
</html>